@charset "utf-8";
/* body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
} */
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
html{
    font-size: 17px;
    line-height: 28px;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #666;
}
#wrap{
    min-width: 1320px;
}
/* header*/
#header{
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.header_inner{
    width: 1320px;
    margin: 0 auto;
    z-index: 9;
    position: relative;
}
#header:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
#header:hover .gnb li a{
    color: #ae9476;
}
#header:hover  .util li{
    color: #777;
}
.logo{
	padding-top: 20px;
	float: left;
    position:relative;
}
.logo img{
    position:absolute;
}
.logo img.img-hover{
    display:none;
}
#header:hover img.img{
    display:none;
}
#header:hover img.img-hover{
    display:block
}
.util {
	position: absolute;
	top: 5px;
	right: 0;
}
.util li {
	float: left;
	padding: 0 10px;
	font-size: 15px;
    color: #fff;
}
.gnb {
	float: right;
	margin-top: 40px;
}
.gnb li {
	float: left;
}
.gnb li a{
	display: block;
	font-size: 22px;
    font-weight: 900;
    color: #fff;
	margin: 0 35px;
}

/*banner*/
#banner {
	background-image: url(../images/sub/shop/shop_banner.svg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 800px;
}
.inner_banner{
	width: 1320px;
	margin: 0 auto;
	text-align: center;
	padding-top: 530px;
}
.inner_banner p{
    color: #fff
}
.about{
    font-size: 50px;
    font-weight: 900;
}
.about2{
    font-size: 27px;
    font-weight: 600;
}
.border{
    width: 60px;
    border-top: 4px solid #fff;
    display: inline-block;
    margin: 35px 0 30px 0;
}

/*contanier*/
#contanier{
    text-align: center;
}
.point{
    font-size: 40px;
    font-weight: 900;
    margin: 100px 0 50px 0;
}


/*section1*/
#section1{
    height: 750px;
    width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;
}
.section1_left{
    width: 650px;
    float: left;
}
.section1_right{
    width: 650px;
    float: right;
}
.section1_right> div{
    float: left;
}
.img_wrap{
    overflow: hidden;
}
.img_wrap1 {
    width: 650px;
    height: 650px;
}
.img_wrap2 {
    width: 315px;
    height: 315px;
}
.img_wrap2_margin{
    margin-left: 20px;
}
.img_wrap3 {
    width: 650px;
    height: 315px;
    margin-top: 20px;
}
.img_wrap img{
    display: block;
    transition: transform 1s;
    width: 100%;
}
/*section1 hover*/
.hover_wrap{
    position: relative;
}
.hover_wrap:hover .img_wrap img{
    transform: scale(1.1);
}
.hover_wrap:hover .cover{
    opacity:1;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    color: #fff;
    transition: opacity 0.5s;
    opacity: 0;
}
.cover:before{
    content: '';
    width: 1px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
.cover_t_wrap{
    display: inline-block;
    vertical-align: middle;
}
#section1 span{
	font-weight:800;
    font-size: 23px;
}
.cover_txt{
    font-size: 15px;
    margin-bottom: 15px;
    transform: translateY(-50px);
    transition: transform 1s;
}
.hover_wrap:hover .cover .cover_txt{
    transform: translateY(0px);
}
.btn{
    color: #fff;
    font-size: 13px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 6px 20px;
    transform: translateY(50px);
    transition: transform 0.5s;
}
.hover_wrap:hover .cover .btn{
    transform: translateY(0px);
}
.btn:hover{
    background-color: #fff;
    color: #000;
    
}




/*section2*/
#section2{
    width: 1320px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    height: 1100px;
}
#section2 li{
	float:left;
	width:289px;
	height:289px;
	margin-right:54.6px;
}
.big{
	width:289px;
	height:289px;
    position: relative
}
.best2 {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s linear;
}
.big:hover .best2 {
    opacity: 1;
}
#section2 li img{
	display:block;
}
#section2 ul{
	height:380px;
    padding-top: 50px;
}
#section2 span{
	color:#777;
	font-weight:800;
    font-size: 22px;
}
#section2 li p{
	color:#555;
	padding-top:10px;
	line-height:35px;
}
#section2 li:nth-child(4){
    margin-right:0;
}





/*footer*/
#footer {
    height: 300px;
    background-color: #DCD0B7;
    text-align: center;
}
.sns {
    display: inline-block
}
.sns li {
    float: left;
    padding: 0 15px;
}
.sns li a img {
    opacity: 0.7;
}
.sns li a img:hover {
    opacity: 1;
}
.footer_link{
    padding-top: 15px;
    display: inline-block;
}
.inner_footer {
    width: 1320px;
    margin: 0 auto;
    padding-top: 35px;
}
.footer_link li {
    float: left;
    padding-right: 20px;
}
.footer_link li a {
    color: #707070;
}
.footer_link li a:hover{
    color: #fff;
}
.inner_footer p {
    color: #fff;
    padding-top: 15px;
    line-height: 35px;
}



